<h1>商品詳細</h1>

<div class="container" data-section-id="product" data-section-type="product-page-section" data-reviews-stars="true">

  <div class="col-lg-6 col-md-7 col-sm-6">
    <p>
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "100x100" %>
      <% else %>
        <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
    </p>
  </div>
  <div class="col-lg-6 col-md-5 col-sm-6">
          <td>商品名</td>
          <td><%= @item.name %></td>
          <td>商品説明</td>
          <td><%= @item.introduction %></td>
          <td>ジャンル</td>
          <td></td>
          <td>販売ステータス</td>
          <td></td>
    <%= link_to "編集する" , edit_admin_item_path(@item.id) %>
  </div>
</div>