
<div class="container">
  <h2><%= @customer.first_name %>さんの会員詳細</h2>
  <div class="row">
      <div class="col-md-4">
        <h4>会員ID</h4>
        <h4>氏名</h4>
        <h4>フリガナ</h4>
        <h4>郵便番号</h4>
        <h4>住所</h4>
        <h4>電話番号</h4>
        <h4>メールアドレス</h4>
        <h4>会員ステータス</h4>
      </div>
      <div class="col-md-4">
        <p><%= @customer.id %></p>
        <p><%= @customer.last_name %></p>
        <%= @customer.last_name_kana %>
        <%= @customer.postal_code %>
        <%= @customer.address %>
        <%= @customer.email %>
        
      </div>
  </div>
</div>

