<div class="container">
  <h2>新規会員登録画面</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
    <div class="row">
      <div class="col-2">
        <div class="field">
        <%= f.label :name %><br><br>
        <%= f.label :name_kana %><br><br>
        <%= f.label :email %><br><br>
        <%= f.label :postal_code %><br><br>
        <%= f.label :address %><br><br>
        <%= f.label :telephone_number %><br><br>
        <%= f.label :password %><br><br>
        <%= f.label :password%><br><br>
        </div>
      </div>
      <div class="col-7">
        <div class="field">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %> <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %><br><br>
        <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %> <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %><br><br> 
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br><br>
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %><br><br>
        <%= f.text_field :address, autofocus: true, autocomplete: "address" %><br><br>
        <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %><br><br>
        <%= f.password_field :password, autocomplete: "new-password" %><br><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br><br>
        <%= f.submit "新規登録" %>
        </div>
      </div>
    </div>
  <% end %>
    <%= render "public/shared/links" %>
</div>