<div class="container" data-section-id="product" data-section-type="product-page-section" data-reviews-stars="true">
  <div class="row">
    <div class="col-lg-6 col-md-7 col-sm-6">
      <p>
        <% if @item.image.attached? %>
          <%= image_tag @item.image, size: "100x100" %>
        <% else %>
          <%= image_tag 'no_image', size: "100x100" %>
        <% end %>
      </p>
    </div>
    <div class="col-lg-6 col-md-5 col-sm-6">
      <h4><%= @item.name %></h4>
      <h4> <%= @item.introduction %></h4>
      <h4>￥<%= @item.with_tax_price %>（税込）</h4>
      <%= form_with model: @cart_item ,url: cart_items_path,method: :post do |f|  %>
        <%= f.hidden_field :item_id,:value =>  @item.id %>
        <%= f.hidden_field :customer_id,:value => current_customer.id %>
        <%= f.select :amount,*[1..10],prompt: "個数選択" %>
        <%= f.submit "カートに入れる" %>
      <% end %>
    </div>
  </div>
</div>