<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>LOGO</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <% if customer_signed_in? %>
            <ul class="navbar-nav ml-auto">
              <li>
                <%= link_to "マイページ" , my_page_path(current_customer) %>
              </li>
              <li>
                <%= link_to "商品一覧", items_path %>
              </li>
              <li>
                カート
              </li>
              <li>
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
              </li>
            </ul>
            <% elsif admin_signed_in? %>
              <ul class="navbar-nav ml-auto">
                <li><%= link_to "商品一覧", admin_items_path,class: "btn btn-secondary" %></li>
                <li><%= link_to "会員一覧", admin_customers_path, class: "btn btn-secondary" %></li>
                <li><%= link_to "注文履歴一覧", admin_home_path, class: "btn btn-secondary" %></li>
                <li><%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-secondary" %></li>
                <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete ,class: "btn btn-secondary" %></li>
              </ul>
            <% else %>
             <ul class="navbar-nav ml-auto">
              <li>
                <%= link_to "About", about_path %>
              </li>
              <li>
               商品一覧（パブリックの方）
              </li>
              <li>
                <%= link_to "新規登録", new_customer_registration_path %>
              </li>
              <li>
                <%= link_to  "ログイン",new_customer_session_path %>
              </li>
            </ul>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
